:root {
    --dark-background-color: #1f2937;
    --hero-main-text-size: 48px;
    --hero-main-text-weight: 800;
    --hero-main-text-color: #f9faf8;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #e5e7eb;
    --header-logo-text-size: 24px;
    --header-logo-text-color: #f0faf8;
    --button-color: #3882f6;
    --information-header-text-size: 36px;
    --information-header-text-weight: 800;
    --information-header-text-color: #1f2937;
    --quote-section-color: #e5e7eb;
    --quote-text-size: 36px;
    --quote-text-weight: 300;
    --quote-text-style: italic;
    --quote-text-color: #1f2937;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    padding: 60px 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

#site-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 48px;
    background-color: var(--dark-background-color);
    color: var(--hero-main-text-color);
}

#site-intro-welcome {
    width: 500px;
}

#site-intro-container img {
    border-radius: 12px;
    width: 600px; /* Set the width to the desired value */
    height: 300px; /* Set the height to the desired value */
    object-fit: cover; /* This will crop the image to fit the container without stretching */
    object-position: top; /* This will center the image within the container */
}

#site-cards-container {
    text-align: center;
    flex-direction: column;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

#site-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.site-card {
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    text-wrap: wrap;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-card img {
    border: 4px blue solid;
    border-radius: 12px;
    width: 100px;
    height: 100px;
}

.site-card p {
    text-align: left;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
}

#quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: var(--quote-section-color);
}

#quote-container p {
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    font-style: var(--quote-text-style);
    color: var(--quote-text-color);
}

#quote-container :last-child {
    margin-top: 20px;
}

#call-to-action-container {
    background-color: var(--button-color);
    color: var(--hero-main-text-color);
    width: 50%;
    margin: 50px auto;
    border-radius: 12px;
}

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}

#call-to-action-text {
    width: 50%;
}

#call-to-action-container button {
    border: 2px solid white;
    border-radius: 8px;
    width: 125px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--dark-background-color);
    color: var(--hero-main-text-color);
}